
.historico-bebi-index table thead tr:first-child {
    text-align: center;
    font-weight: bold;
    background-color: #1e1e1e;
    color: #e7e7e7;
}


.historico-bebi-index table tbody tr td:first-child {
    background-color: #1e1e1e;
    color: white;
    font-weight: normal;
}
