@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Comfortaa:wght@300..700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Londrina+Solid:wght@100;300;400;900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Suranna&display=swap');


.custom-view {
    max-width: 40%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
}

.view-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.detail-nome{
    display:flex;
    margin-top: 10%;
    font-weight: 600;
    font-family: "Suranna", serif;
    font-size: 200%;
}

.detail-item {
    width: 48%;
    padding: 30px 30px 0 30px;
}

.detail-item-notop{
    width: 60%;
    padding: 0 30px;
}

.detail-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.detail-content {
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 25ch;
}

.image-container {
    margin-bottom: 20px;
}
.card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    margin: 5px 0;
}
.card-price{
    font-family: "SansSerif", serif;
    font-size: 20px;
    color: #808080;
    margin-bottom: 10%;
}

.card-side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.card-btn {
    height: 35px;
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
}

.card-btn-nobrd {
    height: 75px;
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    transition: all 0.3s;
}

.rating {
    direction: ltr;
    font-size: 2em;
    color: #d3d3d3;
    cursor: pointer;
}

.rating .star {
    padding: 0 10px;
    transition: color 0.3s ease;
}

.rating .star.selected {
    color: #FFD700; /* Cor dourada das estrelas selecionadas */
}

.rating .star:hover {
    color: #ffcc00; /* Cor de destaque nas estrelas ao passar o mouse */
}

.btn-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    font-size: 1.2em;
}

.btn-warning:hover {
    background-color: #e67e22;
    border-color: #e67e22;
}

.card {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.container-fim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.favoritar {
    flex: 1; 
    text-align: right
}
.comprar {
    flex: 1;
    text-align: right
}

.detail-item-notop {
    flex: 1; 
    text-align: left; 
}
.icon {
    margin-bottom: 10%;
}